<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <h2 class="article-title">Basic Boxes</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">Box Header</div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header box-dark">Box Header</div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">Box Header</div>
                    <div class="box-body box-dark">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h2 class="article-title">Boxes with Style</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">Box with Divider</div>
                    <div class="box-divider"></div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box box-transparent">
                    <div class="box-header">Transparent Box</div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
        </div>
    </article>


    <article class="article">
        <h2 class="article-title">Scrollable Box</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="box box-default" data-slim-scroll data-scroll-height="190px">
                    <div class="box-header">Scrollable Box</div>
                    <div class="box-divider"></div>
                    <div class="box-body">
                        <p>This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.</p>
                        <p>Dignissimos, fuga. Ex ea ut pariatur aspernatur autem possimus. Odit nihil eum animi quis natus earum nemo quisquam maiores, dolore iusto culpa, a mollitia blanditiis alias quia iste reprehenderit magni doloremque ducimus aspernatur totam! Quam quae minus facere, quisquam possimus, expedita necessitatibus, sit doloribus excepturi vero porro facilis, odit eaque beatae assumenda aperiam. Expedita molestiae nobis voluptate rerum perspiciatis nostrum eligendi, laudantium, reiciendis obcaecati dolorum temporibus iusto enim nesciunt dolore dignissimos. Pariatur eligendi reiciendis voluptates odit iste architecto. Iusto officia vel fuga, odit cum ipsum eveniet inventore officiis. Rerum alias, vero adipisci.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">Scrollable Box Body</div>
                    <div class="box-divider"></div>
                    <div class="box-body" data-slim-scroll data-scroll-height="145px">
                        <p>This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.</p>
                        <p>Dignissimos, fuga. Ex ea ut pariatur aspernatur autem possimus. Odit nihil eum animi quis natus earum nemo quisquam maiores, dolore iusto culpa, a mollitia blanditiis alias quia iste reprehenderit magni doloremque ducimus aspernatur totam! Quam quae minus facere, quisquam possimus, expedita necessitatibus, sit doloribus excepturi vero porro facilis, odit eaque beatae assumenda aperiam. Expedita molestiae nobis voluptate rerum perspiciatis nostrum eligendi, laudantium, reiciendis obcaecati dolorum temporibus iusto enim nesciunt dolore dignissimos. Pariatur eligendi reiciendis voluptates odit iste architecto. Iusto officia vel fuga, odit cum ipsum eveniet inventore officiis. Rerum alias, vero adipisci.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h2 class="article-title">Box Colors</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="box">
                    <div class="box-header bg-dark">Box Header</div>
                    <div class="box-body bg-white">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box">
                    <div class="box-header bg-white">Box Header</div>
                    <div class="box-body bg-dark">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="box bg-dark">
                    <div class="box-header">Box Header</div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box">
                    <div class="box-header bg-white">Box Header</div>
                    <div class="box-body bg-white">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="box bg-primary">
                    <div class="box-header ">Box Header</div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box bg-info">
                    <div class="box-header ">Box Header</div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="box bg-success">
                    <div class="box-header ">Box Header</div>
                    <div class="box-divider"></div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box bg-warning">
                    <div class="box-header ">Box Header</div>
                    <div class="box-divider"></div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box bg-danger">
                    <div class="box-header ">Box Header</div>
                    <div class="box-divider"></div>
                    <div class="box-body">
                        This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio voluptates ipsam.
                    </div>
                </div>
            </div> 
        </div>
    </article>

</section>