<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <h2 class="article-title">Material Buttons</h2>
        <div class="row">
            <div class="col-xl-5">

                <div class="box box-default">
                    <div class="box-header">Raised</div>
                    <div class="box-body text-center">
                        <md-button class="md-raised btn-w-md">Default</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-md md-primary">Primary</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-md md-accent">Accent</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-md md-warn">Warn</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-md md-primary" ng-href="http://google.com" target="_blank">Link Button</md-button><div class="divider divider-xs"></div>
                        <md-button ng-disabled="true" class="md-raised btn-w-md md-primary">Disabled</md-button><div class="divider divider-xs"></div>
                    </div>
                </div>

            </div>
            <div class="col-xl-5">

                <div class="box box-default">
                    <div class="box-header">Flat</div>
                    <div class="box-body text-center">
                        <md-button class="btn-w-md">Default</md-button><div class="divider divider-xs"></div>
                        <md-button class="btn-w-md md-primary">Primary</md-button><div class="divider divider-xs"></div>
                        <md-button class="btn-w-md md-accent">Accent</md-button><div class="divider divider-xs"></div>
                        <md-button class="btn-w-md md-warn">Warn</md-button><div class="divider divider-xs"></div>
                        <md-button class="btn-w-md md-primary" ng-href="http://google.com" target="_blank">Link Button</md-button><div class="divider divider-xs"></div>
                        <md-button ng-disabled="true" class="btn-w-md md-primary">Disabled</md-button><div class="divider divider-xs"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-5">

                <div class="box box-default">
                    <div class="box-header">FAB</div>
                    <div class="box-body text-center">

                        <md-button class="md-fab" aria-label="Eat cake">
                            <md-icon class="material-icons">cake</md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini" aria-label="Eat cake">
                            <md-icon class="material-icons">cake</md-icon>
                        </md-button>
                        <md-button class="md-fab md-primary" aria-label="Use Android">
                            <md-icon class="material-icons">android</md-icon>
                        </md-button>
                        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                            <md-icon class="material-icons">people</md-icon>
                        </md-button>
                        <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
                            <md-icon class="material-icons">comment</md-icon>
                        </md-button>

                    </div>
                </div>

            </div>
            <div class="col-xl-5">

                <div class="box box-default">
                    <div class="box-header">Icon Button</div>
                    <div class="box-body text-center">

                        <md-button class="md-icon-button md-primary" aria-label="Settings">
                            <md-icon class="material-icons">menu</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-warn" aria-label="Favorite">
                            <md-icon class="material-icons">favorite</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="More">
                            <md-icon class="material-icons">more_vert</md-icon>
                        </md-button>

                    </div>
                </div>

            </div>

        </div>

    </article>


    <article class="article">
        <h2 class="article-title">Button Variables</h2>

        <div class="row">
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">Width</div>
                    <div class="box-body text-center">
                        <md-button class="md-raised btn-w-xs">xs</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-sm md-primary">small</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-md md-accent">middle</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-lg md-accent">large</md-button><div class="divider divider-xs"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">Sizes</div>
                    <div class="box-body text-center">
                        <md-button class="md-raised btn-sm md-primary">Small Button</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised md-accent">Default button</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-lg md-accent">Large button</md-button><div class="divider divider-xs"></div>        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">FAB</div>
                    <div class="box-body text-center">
                        <p>
                            <md-button class="md-fab" aria-label="Eat cake">
                                <md-icon class="material-icons">cake</md-icon>
                            </md-button>
                            <md-button class="md-fab md-mini" aria-label="Eat cake">
                                <md-icon class="material-icons">cake</md-icon>
                            </md-button>
                        </p>
                        <div class="divider"></div>
                        <p>
                            <md-button class="md-fab md-primary md-mini" aria-label="more_vert">
                                <md-icon class="material-icons">more_vert</md-icon>
                            </md-button>
                            <md-button class="md-fab md-primary" aria-label="more_vert">
                                <md-icon class="material-icons">more_vert</md-icon>
                            </md-button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">Colors</div>
                    <div class="box-body text-center">
                        <md-button class="md-raised btn-w-lg md-primary md-hue-2">Primary Hue 2</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-lg md-primary md-hue-4">Primary Hue 4</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-warn btn-w-lg md-raised md-hue-2">Warn Hue 2</md-button><div class="divider divider-xs"></div>
                        <md-button class="md-raised btn-w-lg md-accent md-hue-1">Accent Hue 1</md-button><div class="divider divider-xs"></div>
                    </div>
                </div>                    
            </div>
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header">Social icons</div>
                    <div class="box-body text-center">
                        <p>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-google-plus"><i class="fa fa-google"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-rss"><i class="fa fa-rss"></i></a>
                        </p>
                        <p>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-tumblr"><i class="fa fa-tumblr"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-youtube"><i class="fa fa-youtube"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-github"><i class="fa fa-github"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-skype"><i class="fa fa-skype"></i></a>
                        </p> 
                        <div class="divider divider-xs"></div>
                        <p>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-google-plus"><i class="fa fa-google"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-rss"><i class="fa fa-rss"></i></a>
                        </p>
                        <p>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-tumblr"><i class="fa fa-tumblr"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-youtube"><i class="fa fa-youtube"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-github"><i class="fa fa-github"></i></a>
                            <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-skype"><i class="fa fa-skype"></i></a>
                        </p>     
                    </div>
                </div>                    
            </div>
        </div>

    </article>

</section>