<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <h2 class="article-title">Cards</h2>
        <div class="row">
            <div class="col-xl-4 col-lg-6">

                <div class="mdl-card mdl-shadow--2dp mdl-card-full-width">
                    <div class="mdl-card__title" style="background: url('assets/images-demo/assets/600_400-2.jpg') center / cover; height: 176px; color: #fff;">
                        <h2 class="mdl-card__title-text">Welcome</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris sagittis pellentesque lacus eleifend lacinia...
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <md-button class="md-primary">Get Started</md-button>
                    </div>
                    <div class="mdl-card__menu">
                        <md-button class="md-icon-button" aria-label="share">
                            <md-icon class="material-icons" style="color: #fff;">share</md-icon>
                        </md-button>
                    </div>
                </div>

            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="mdl-card mdl-shadow--2dp mdl-card-full-width" style="height: 320px; max-width: 320px"">
                    <div class="mdl-card__title mdl-card--expand" style="background: url('assets/images-demo/assets/600_400-6.jpg'); color: #fff;">
                        <h2 class="mdl-card__title-text">Square Card</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenan convallis.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <md-button class="md-accent">View Square Card</md-button>
                    </div>
                </div>
            </div>
        </div>
    </article>    



    <article class="article">
        <h2 class="article-title">Simple Card</h2>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="card bg-dark">
                    <div class="card-content">
                        <span class="card-title">Card Dark</span>
                        <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;">A link</a>
                    </div>
                </div> 
            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="card bg-primary">
                    <div class="card-content">
                        <span class="card-title">Card Primary</span>
                        <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                        </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;">A link</a>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="card bg-success">
                    <div class="card-content">
                        <span class="card-title">Card Accent</span>
                        <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;">A link</a>
                    </div>
                </div> 
            </div> 

            <div class="col-xl-4 col-lg-6">
                <div class="card bg-white">
                    <div class="card-content">
                        <span class="card-title">Card White</span>
                        <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;" class="color-primary">A link</a>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="card bg-info">
                    <div class="card-content">
                        <span class="card-title">Card White</span>
                        <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;">A link</a>
                    </div>
                </div> 
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="card bg-warning">
                    <div class="card-content">
                        <span class="card-title">Card White</span>
                        <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;">A link</a>
                    </div>
                </div> 
            </div> 
            <div class="col-xl-4 col-lg-6">
                <div class="card bg-danger">
                    <div class="card-content">
                        <span class="card-title">Card White</span>
                        <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;">A link</a>
                    </div>
                </div> 
            </div> 
        </div>
    </article>    


    <article class="article">
        <h2 class="article-title">Image Card</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-white">
                    <div class="card-image">
                        <img src="assets/images-demo/assets/600_400-2.jpg">
                        <span class="card-title">Image Card</span>
                    </div>
                    <div class="card-content">
                        <p>Hey there, I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;" class="color-primary">A link</a>
                    </div>
                </div>            
            </div>
            <div class="col-lg-4">
                <div class="card card-white">
                    <div class="card-image">
                        <img src="assets/images-demo/assets/600_400-3.jpg">
                        <span class="card-title">Image Card with Pofile</span>
                    </div>
                    <div class="card-content">
                        <a class="card-profile-img float-right" href="javascript:;"><img src="assets/images/g1.jpg" alt=""></a>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;">A link</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-white">
                    <div class="card-image">
                        <img src="assets/images-demo/assets/600_400-1.jpg">
                        <span class="card-title">Image Card with Icon Button</span>
                    </div>
                    <div class="card-content">
                        <a class="card-button float-right" href="javascript:;">
                            <button class="btn btn-icon btn-icon-round btn-floating btn-danger"><i class="material-icons mdi-sm">favorite</i></button>
                        </a>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am quite convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="javascript:;">A link</a>
                        <a href="javascript:;">A link</a>
                    </div>
                </div>
            </div>
        </div>
    </article>    

</section>
