<section class="container-fluid with-maxwidth chapter">


    <article class="article">
        <h2 class="article-title">Material Subheader</h2>
        <div class="box box-default">
            <div class="box-header">My Messages</div>
            <div class="box-body no-padding">

                <div ng-controller="SubheaderDemo">

                    <md-content style="height: 450px;">
                        <section>
                            <md-subheader class="md-primary">Unread Messages</md-subheader>
                            <md-list layout-padding="">
                                <md-list-item class="md-3-line" ng-repeat="message in messages">
                                    <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                    <div class="md-list-item-text">
                                        <h3>{{message.what}}</h3>
                                        <h4>{{message.who}}</h4>
                                        <p>
                                            {{message.notes}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>

                        <section>
                            <md-subheader class="md-warn">Late Messages</md-subheader>
                            <md-list layout="column" layout-padding="">
                                <md-list-item class="md-3-line" ng-repeat="message in messages">
                                    <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                    <div class="md-list-item-text">
                                        <h3>{{message.what}}</h3>
                                        <h4>{{message.who}}</h4>
                                        <p>
                                            {{message.notes}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>

                        <section>
                            <md-subheader>Read Messages</md-subheader>
                            <md-list layout="column" layout-padding="">
                                <md-list-item class="md-3-line" ng-repeat="message in messages">
                                    <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                    <div class="md-list-item-text">
                                        <h3>{{message.what}}</h3>
                                        <h4>{{message.who}}</h4>
                                        <p>
                                            {{message.notes}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>

                        <section>
                            <md-subheader class="md-accent">Archived messages</md-subheader>
                            <md-list layout="column" layout-padding="">
                                <md-list-item class="md-3-line" ng-repeat="message in messages">
                                    <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                    <div class="md-list-item-text">
                                        <h3>{{message.what}}</h3>
                                        <h4>{{message.who}}</h4>
                                        <p>
                                            {{message.notes}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>
                    </md-content>
                </div>

            </div>
        </div>
    </article>


    <article class="article">
        <h2 class="article-title">Material Loader</h2>
        <div class="box box-default" data-ng-controller="LoaderCtrl">
            <div class="box-body">

                <md-button class="md-raised btn-w-md md-accent" ng-click="start()">Start the loader</md-button>
                <span class="space"></span>
                <md-button class="md-raised btn-w-md md-warn" ng-click="complete()">Complete it</md-button>

                <div class="callout callout-info no-margin-bottom">
                    The loading bar will show at the top of the page.
                </div>

            </div>
        </div>
    </article>



    <article class="article">
        <h2 class="article-title">Material Badges</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Number and Icon</div>
                    <div class="box-body text-center padding-lg">

                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
                        <div class="space space-md"></div>
                        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="♥">account_box</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Number and Icon</div>
                    <div class="box-body text-center padding-lg">

                        <span class="mdl-badge" data-badge="4">Inbox</span>
                        <div class="space space-md"></div>
                        <span class="mdl-badge" data-badge="♥">Mood</span>

                    </div>
                </div>
            </div>
        </div>
    </article>


    <article class="article">
        <h2 class="article-title">Material Tooltip</h2>
        <div class="box box-default">
            <div class="box-body">

                <div class="row">
                    <div class="col-xl-8 offset-lg-2">
                        <div ng-controller="TooltipDemo" ng-cloak>
                            <div class="text-center" style="padding-top: 40px;">
                                <md-button class="md-fab" aria-label="Insert Drive">
                                    <md-icon class="material-icons">insert_drive_file</md-icon>
                                    <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
                                        Insert Drive
                                    </md-tooltip>
                                </md-button>
                            </div>


                            <div class="callout callout-info">The tooltip is visible when the button is hovered, focused, or touched. </div>
                            <div class="callout callout-success">
                                <span>Additionally, the Tooltip's <code>md-visible</code> attribute can use data-binding to
                                programmatically show/hide itself. Toggle the checkbox below...</span>
                            </div>
                                <md-checkbox ng-model="demo.showTooltip" style="padding-left:30px;">
                                    Insert Drive
                                </md-checkbox>

                            <div class="callout callout-success">
                                <p><code>md-direction</code> attribute can used to dynamically change the direction of the tooltip.<br>
                                Note: the direction default value is 'bottom'. </p>
                            </div>
                            <md-radio-group class="ui-md-radio-group-inline" ng-model="demo.tipDirection">
                                 <md-radio-button value="left"> Left </md-radio-button>
                                 <md-radio-button value="top">Top</md-radio-button>
                                 <md-radio-button value="bottom" class="md-primary">Bottom</md-radio-button>
                                 <md-radio-button value="right">Right</md-radio-button>
                             </md-radio-group>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>


    <article class="article">
        <h2 class="article-title">Material Toast</h2>
        <div class="box box-default">
            <div class="box-body">

                <div class="row">
                    <div class="col-xl-8 offset-lg-2">
                        <div ng-controller="ToastDemo">
                            <div class="callout callout-info">
                                <span>Toast can be dismissed with a swipe, a timer, or a button.</span><br>
                                <span class="text-small">Notice the 'Show Custom' toast will not nudge the FABs positions since a custom parent was specified.</span>
                            </div>

                            <div layout="row" layout-sm="column" layout-align="space-around">
                                <md-button ng-click="showSimpleToast()">
                                    Show Simple
                                </md-button>
                                <md-button class="md-raised" ng-click="showActionToast()">
                                    Show With Action
                                </md-button>
                                <md-button ng-click="showCustomToast()">
                                    Show Custom
                                </md-button>
                            </div>

                            <div class="divider divider-lg"></div>
                            <h4>Toast Position: "{{getToastPosition()}}"</h4>
                            <div class="divider"></div>
                            <md-checkbox ng-repeat="(name, isSelected) in toastPosition" ng-model="toastPosition[name]"> {{name}} </md-checkbox>
                            <script type="text/ng-template" id="toast-template.html">
                                <md-toast class="md-toast-primary">
                                    <span flex>This is a custom toast!</span>
                                    <md-button ng-click="closeToast()">
                                        Close
                                    </md-button>
                                </md-toast>
                            </script>

                            <div class="callout callout-success">
                                <span>NOTE: The toast will show at the corner of the admin app</span>
                            </div>    
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>


    <article class="article">
        <h2 class="article-title">Material Dialog</h2>
        <div class="box box-default">
            <div class="box-body padding-xl" data-ng-controller="DialogDemo">

                <div class="row">
                    <div class="col-xl-8 offset-lg-2">
                        <h6>Basic Usage</h6>
                        <md-button class="md-primary btn-w-md md-raised" ng-click="showAlert($event)"> Alert Dialog </md-button>
                        <span class="space"></span>
                        <md-button class="md-accent btn-w-md md-raised" ng-click="showConfirm($event)"> Confirm Dialog </md-button>
                        <div class="callout callout-info">
                            INFO: {{status}}
                        </div>

                        <div class="divider divider-xl divider-dashed"></div>
                        <h6>Open From Close To</h6>
                        <md-button class="md-accent md-raised" ng-click="openOffscreen()">
                            Open From Top Left - Close Slide Down
                        </md-button>
                    </div>
                </div>

            </div>
        </div>
    </article>


    <article class="article">
        <h2 class="article-title">Material Tab</h2>

        <div class="row" data-ng-controller="TabsDemo" ng-cloak>
            <div class="col-lg-6">
                <section class="box box-default">
                    <div class="box-body no-padding">                
                        <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                            <md-tab ng-repeat="tab in tabs"
                                    ng-disabled="tab.disabled"
                                    label="{{tab.title}}">
                                <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                                    <div ng-bind="tab.content"></div>
                                    <br/>
                                    <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
                                </div>
                            </md-tab>
                        </md-tabs> 
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="box box-default">
                    <div class="box-body no-padding" >        
                        <form ng-submit="addTab(tTitle,tContent)" layout="column" class="md-padding" style="padding-top: 0;">
                            <h6 style="transform: uppercase;">Add a new Tab:</h6>

                            <md-input-container>
                                <label for="label">Label</label>
                                <input type="text" id="label" ng-model="tTitle">
                            </md-input-container>
                            <md-input-container>
                                <label for="content">Content</label>
                                <input type="text" id="content" ng-model="tContent">
                            </md-input-container>
                            <md-button class=" md-primary md-raised" ng-disabled="!tTitle || !tContent" type="submit">Add Tab</md-button>
                        </form>
                    </div>
                </section>
            </div>
        </div> 
    </article>

    <article class="article">
        <h2 class="article-title">Material Progressbar</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Linear</div>
                    <div class="box-body padding-lg" ng-controller="ProgressLinearDemo as vm" ng-cloak>

                        <p>Determinate</p>
                        <div class="divider"></div>
                        <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
                        <div class="divider divider-lg divider-dashed"></div>
                        <p>Indeterminate</p>
                        <div class="divider"></div>
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        <div class="divider divider-lg divider-dashed"></div>
                        <p>Buffer</p>
                        <div class="divider"></div>
                        <md-progress-linear class="md-warn" md-mode="{{vm.modes[0]}}" value="{{vm.determinateValue}}"
                                            md-buffer-value="{{vm.determinateValue2}}"></md-progress-linear>
                        <div class="divider divider-lg divider-dashed"></div>
                        <p>Query</p>
                        <div class="divider"></div>
                        <md-progress-linear md-mode="{{vm.modes[1]}}"></md-progress-linear>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Circular</div>
                    <div class="box-body padding-lg" ng-controller="ProgressCircularDemo as vm" ng-cloak>

                        <div class="row" style="padding-bottom: 80px">
                            <div class="col-lg-6">
                                <p>Determinate</p>
                                <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
                            </div>
                            <div class="col-lg-6">
                                <p>Indeterminate</p>
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>                            
                            </div>
                        </div>                
                        <div class="divider divider-lg divider-dashed"></div>

                        <p>Theming</p>
                        <div class="row" style="padding-bottom: 90px">
                            <div class="col-md-2"><md-progress-circular class="md-hue-2" md-mode="{{vm.modes[0]}}" md-diameter="20px"></md-progress-circular></div>
                            <div class="col-md-2"><md-progress-circular class="md-accent" md-mode="{{vm.modes[1]}}" md-diameter="40"></md-progress-circular></div>
                            <div class="col-md-2"><md-progress-circular class="md-accent md-hue-1" md-mode="{{vm.modes[2]}}" md-diameter="60"></md-progress-circular></div>
                            <div class="col-md-2"><md-progress-circular class="md-warn md-hue-3" md-mode="{{vm.modes[3]}}" md-diameter="70"></md-progress-circular></div>
                            <div class="col-md-2"><md-progress-circular md-mode="{{vm.modes[4]}}" md-diameter="96"></md-progress-circular></div>
                        </div>

                    </div>
                </div>
            </div>        
        </div>

    </article>

    <article class="article">
        <h2 class="article-title">Badges & Pill Badges</h2>
        <div class="row text-center">
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Badges</div>
                    <div class="box-body">
                        <p>
                            <span class="badge badge-default">7</span>
                            <span class="space"></span>
                            <span class="badge badge-primary">1</span>
                            <span class="space"></span>
                            <span class="badge badge-success">2</span>
                        </p>
                        <p>
                            <span class="badge badge-info">4</span>
                            <span class="space"></span>
                            <span class="badge badge-warning">8</span>
                            <span class="space"></span>
                            <span class="badge badge-danger">16</span>                                 
                        </p>
                    </div>
                </div>    
            </div>
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Pill Badges</div>
                    <div class="box-body">
                        <p>
                            <span class="badge badge-pill badge-default">Default</span>
                            <span class="space"></span>
                            <span class="badge badge-pill badge-primary">Primary</span>
                            <span class="space"></span>
                            <span class="badge badge-pill badge-success">Success</span>
                        </p>
                        <p>
                            <span class="badge badge-pill badge-info">Info</span>
                            <span class="space"></span>
                            <span class="badge badge-pill badge-warning">Warning</span>
                            <span class="space"></span>
                            <span class="badge badge-pill badge-danger">Danger</span> 
                        </p>
                    </div>
                </div>                    
            </div>
            
        </div>
    </article>


    <article class="article">
        <h2 class="article-title">Callout</h2>
        <div class="box box-default">
            <div class="box-body">

                <div class="callout callout-success">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-info">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-warning">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-danger">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>

            </div>
        </div>
    </article>


    <article class="article">
        <h2 class="article-title">Ribbons</h2>
        <div class="box box-default">
            <div class="box-body">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="box box-default ui-ribbon-container">
                            <div class="ui-ribbon-wrapper">
                                <div class="ui-ribbon">
                                    30% Off
                                </div>
                            </div>
                            <div class="box-header">Ribbon</div>
                            <div class="box-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box box-default ui-ribbon-container ui-ribbon-primary">
                            <div class="ui-ribbon-wrapper">
                                <div class="ui-ribbon">
                                    30% Off
                                </div>
                            </div>
                            <div class="box-header">Ribbon-primary</div>
                            <div class="box-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box box-default ui-ribbon-container ui-ribbon-success">
                            <div class="ui-ribbon-wrapper">
                                <div class="ui-ribbon">
                                    30% Off
                                </div>
                            </div>
                            <div class="box-header">Ribbon-success</div>
                            <div class="box-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="box box-default ui-ribbon-container ui-ribbon-info">
                            <div class="ui-ribbon-wrapper">
                                <div class="ui-ribbon">
                                    30% Off
                                </div>
                            </div>
                            <div class="box-header">Ribbon-info</div>
                            <div class="box-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box box-default ui-ribbon-container ui-ribbon-warning">
                            <div class="ui-ribbon-wrapper">
                                <div class="ui-ribbon">
                                    30% Off
                                </div>
                            </div>
                            <div class="box-header">Ribbon-warning</div>
                            <div class="box-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box box-default ui-ribbon-container ui-ribbon-danger">
                            <div class="ui-ribbon-wrapper">
                                <div class="ui-ribbon">
                                    30% Off
                                </div>
                            </div>
                            <div class="box-header">Ribbon-danger</div>
                            <div class="box-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="article">
        <h2 class="article-title">Material Whiteframe</h2>
        <div class="box box-default">
            <div class="box-body">

                <div layout="row" class="whiteframedemoBasicUsage" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;">
                    <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-1dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-2dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-3dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-4dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-4dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-5dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-6dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-6dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-7dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-7dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-8dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-8dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-9dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-9dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-10dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-10dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-11dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-11dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-12dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-12dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-13dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-13dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-14dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-14dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-15dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-15dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-16dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-16dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-17dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-17dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-18dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-18dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-19dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-19dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-20dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-20dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-21dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-21dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-22dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-22dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-23dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-23dp</span>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-24dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span>.md-whiteframe-24dp</span>
                    </md-whiteframe>
                </div>

            </div>
        </div>
    </article>



</section>


