<section class="container-fluid with-maxwidth chapter">

    <article class="article" ng-cloak>
        <h2 class="article-title">Material List</h2>
        <div class="row" ng-controller="ListCtrl">
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Normal</div>
                    <div class="box-body no-padding">
                        <md-list flex="">
                            <md-divider></md-divider>
                            <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
                                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.who }}</h3>
                                    <h4>{{ item.what }}</h4>
                                    <p>{{ item.notes }}</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-subheader class="md-no-sticky">2 line item</md-subheader>
                            <md-list-item class="md-2-line" ng-repeat="item in todos"> 
                                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
                                <div class="md-list-item-text">
                                    <h3>{{ todos[0].who }}</h3>
                                    <p>Secondary text</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-subheader class="md-no-sticky">3 line item, long paragraph (see on mobile)</md-subheader>
                            <md-list-item class="md-3-line md-long-text">
                                <img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}">
                                <div class="md-list-item-text">
                                    <h3>{{ todos[0].who }}</h3>
                                    <p>
                                        Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                                        Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                                        velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                    </p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line md-long-text">
                                <img ng-src="{{todos[1].face}}?25" class="md-avatar" alt="{{todos[1].who}}">
                                <div class="md-list-item-text">
                                    <h3>{{ todos[1].who }}</h3>
                                    <p>
                                        Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                                        Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                                        velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                                    </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Dense</div>
                    <div class="box-body no-padding">
                        <md-list class="md-dense" flex="">
                            <md-divider></md-divider>
                            <md-subheader class="md-no-sticky">3 line item (dense)</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="item in todos">
                                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.who }}</h3>
                                    <h4>{{ item.what }}</h4>
                                    <p>{{ item.notes }}</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-subheader class="md-no-sticky">2 line item</md-subheader>
                            <md-list-item class="md-2-line" ng-repeat="item in todos">
                                <img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}">
                                <div class="md-list-item-text">
                                    <h3>{{ todos[0].who }}</h3>
                                    <p>Secondary text</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-subheader class="md-no-sticky">3 line item, long paragraph (see on mobile)</md-subheader>
                            <md-list-item class="md-3-line md-long-text">
                                <img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}">
                                <div class="md-list-item-text">
                                    <h3>{{ todos[0].who }}</h3>
                                    <p>
                                        Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                                        Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                                        velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                    </p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line md-long-text">
                                <img ng-src="{{todos[1].face}}?25" class="md-avatar" alt="{{todos[1].who}}">
                                <div class="md-list-item-text">
                                    <h3>{{ todos[1].who }}</h3>
                                    <p>
                                        Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                                        Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                                        velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                                    </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row" ng-controller="ListCtrl2">
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-body no-padding">
                        <md-list>
                            <md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>
                            <md-list-item ng-repeat="topping in toppings">
                                <p> {{ topping.name }} </p>
                                <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
                            </md-list-item>
                        </md-list>                           
                    </div>
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-body no-padding">
                        <md-list>
                            <md-subheader class="md-no-sticky">Clickable Items with Secondary Controls</md-subheader>
                            <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="setting in settings">
                                <md-icon class="material-icons">{{setting.icon}}</md-icon>
                                <p> {{ setting.name }} </p>
                                <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
                            </md-list-item>
                            <md-list-item ng-click="navigateTo('data usage', $event)">
                                <md-icon class="material-icons">refresh</md-icon>
                                <p>Data Usage</p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row" ng-controller="ListCtrl2">
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-body no-padding">
                        <md-list>
                            <md-subheader class="md-no-sticky">Checkbox with Secondary Action</md-subheader>
                            <md-list-item ng-repeat="message in messages">
                                <md-checkbox ng-model="message.selected"></md-checkbox>
                                <p>{{message.title}}</p>
                                <md-icon class="md-secondary material-icons" ng-click="doSecondaryAction($event)" aria-label="Chat">comment</md-icon>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>                 
            </div>
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-body no-padding">
                        <md-list>
                            <md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>
                            <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)">
                                <img alt="" src="assets/images/g1.jpg" class="rounded-circle img40_40 md-avatar">
                                <p>{{ person.name }}</p>
                                <md-icon ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary material-icons" ng-class="{'md-primary': person.newMessage}">comment</md-icon>
                            </md-list-item>
                        </md-list>                          
                    </div>
                </div>                 
            </div>
        </div> 

    </article>


    <article class="article">
        <h2 class="article-title">Media object</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Media list</div>
                    <div class="box-body">
                        <ul class="list-unstyled">
                            <li class="media">
                                <a class="d-flex mr-3" href="javascript:;">
                                    <img alt="" src="assets/images/g1.jpg" class="media-object rounded-circle img64_64">
                                </a>
                                <div class="media-body">
                                    <h4 class="mt-0 mb-1">Media heading</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce cfelis in faucibus.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="d-flex mr-3" href="javascript:;">
                                    <img alt="" src="assets/images/g1.jpg" class="media-object rounded-circle img64_64">
                                </a>
                                <div class="media-body">
                                    <h4 class="mt-0 mb-1">Media heading</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at. Donec lacinia congue felis in faucibus.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="d-flex mr-3" href="javascript:;">
                                    <img alt="" src="assets/images/g1.jpg" class="media-object rounded-circle img64_64">
                                </a>
                                <div class="media-body">
                                    <h4 class="mt-0 mb-1">Media heading</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus    Donec lacinia congue felis in faucibus.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>                    
            </div>
            <div class="col-lg-6">
                <div class="box box-default">
                    <div class="box-header">Nesting</div>
                    <div class="box-body">
                        <div class="media">
                            <a class="d-flex mr-3" href="javascript:;">
                                <img alt="" src="assets/images/g1.jpg" class="media-object rounded-circle img64_64">
                            </a>
                            <div class="media-body">
                                <h4 class="mt-0 mb-1">Media heading</h4>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce cfelis in faucibus.</p>

                                <div class="media">
                                    <a class="d-flex mr-3" href="javascript:;">
                                        <img alt="" src="assets/images/g1.jpg" class="media-object rounded-circle img64_64">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="mt-0 mb-1">Media heading</h4>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at. Donec lacinia congue felis in faucibus.</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="d-flex mr-3" href="javascript:;">
                                        <img alt="" src="assets/images/g1.jpg" class="media-object rounded-circle img64_64">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="mt-0 mb-1">Media heading</h4>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus    Donec lacinia congue felis in faucibus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </article>

</section>