<section class="container-fluid no-breadcrumbs chapter">

    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <section class="pricing-table pricing-table-primary">
                <header><h2>Basic</h2></header>
                <p class="pricing-price"><span class="pricing-sign">$</span>29.00<span class="pricing-sub">/mo</span></p>
                <div class="pricing-plan-details">
                    <p class="pricing-lead">Including</p>
                    <ul>
                        <li>24/7 Support</li>
                        <li>1 Website</li>
                        <li>100GB Disk Space</li>
                        <li>10 Database</li>
                        <li>10 Email Address</li>
                    </ul>                            
                </div>
                <footer><md-button class="md-raised btn-w-lg md-primary">Get it Now</md-button></footer>
            </section>
        </div>

        <div class="col-xl-3 col-lg-6">
            <section class="pricing-table pricing-table-success">
                <header><h2>Basic</h2></header>
                <p class="pricing-price"><span class="pricing-sign">$</span>29.00<span class="pricing-sub">/mo</span></p>
                <div class="pricing-plan-details">
                    <p class="pricing-lead">Including</p>
                    <ul>
                        <li>24/7 Support</li>
                        <li>1 Website</li>
                        <li>100GB Disk Space</li>
                        <li>10 Database</li>
                        <li>10 Email Address</li>
                    </ul>                            
                </div>
                <footer><md-button class="md-raised btn-w-lg md-accent">Get it Now</md-button></footer>
            </section>
        </div>

        <div class="col-xl-3 col-lg-6">
            <section class="pricing-table pricing-table-warning">
                <header> <h2>Standard</h2> </header>
                <p class="pricing-price"><span class="pricing-sign">$</span>39.00<span class="pricing-sub">/mo</span></p>
                <div class="pricing-plan-details">
                    <p class="pricing-lead">Including</p>
                    <ul>
                        <li>24/7 Support</li>
                        <li>Unlimited Website</li>
                        <li>500GB Disk Space</li>
                        <li>25 Database</li>
                        <li>50 Email Address</li>
                    </ul>                            
                </div>
                <footer><md-button class="md-raised btn-w-lg">Get it Now</md-button></footer>
            </section>
        </div>

        <div class="col-xl-3 col-lg-6">
            <section class="pricing-table pricing-table-danger">
                <header> <h2>Ultimate</h2> </header>
                <p class="pricing-price"><span class="pricing-sign">$</span>99.00<span class="pricing-sub">/mo</span></p>
                <div class="pricing-plan-details">
                    <p class="pricing-lead">Including</p>
                    <ul>
                        <li>24/7 Support</li>
                        <li>Unlimited Website</li>
                        <li>Unlimited Disk Space</li>
                        <li>Unlimited Database</li>
                        <li>100 Email Address</li>
                    </ul>                            
                </div>
                <footer><md-button class="md-raised btn-w-lg md-warn">Get it Now</md-button></footer>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <section class="pricing-table pricing-table-info">
                <header><h2>Free</h2></header>
                <p class="pricing-price"><span class="pricing-sign">$</span>0.00<span class="pricing-sub">/mo</span></p>
                <div class="pricing-plan-details">
                    <p class="pricing-lead">Including</p>
                    <ul>
                        <li>No Support</li>
                        <li>1 Website</li>
                        <li>10GB Disk Space</li>
                        <li>3 Database</li>
                        <li>1 Email Address</li>
                    </ul>                            
                </div>
                <footer><md-button class="md-raised btn-w-lg">Get it Now</md-button></footer>
            </section>
        </div>

        <div class="col-xl-3 col-lg-6">
            <section class="pricing-table">
                <header> <h2>Standard</h2> </header>
                <p class="pricing-price"><span class="pricing-sign">$</span>39.00<span class="pricing-sub">/mo</span></p>
                <div class="pricing-plan-details">
                    <p class="pricing-lead">Including</p>
                    <ul>
                        <li>24/7 Support</li>
                        <li>Unlimited Website</li>
                        <li>500GB Disk Space</li>
                        <li>25 Database</li>
                        <li>50 Email Address</li>
                    </ul>                            
                </div>
                <footer><md-button class="md-raised btn-w-lg">Get it Now</md-button></footer>
            </section>
        </div>        
    </div>

</section>