<section class="container-fluid no-breadcrumbs" ng-controller="CalendarCtrl">

    <section>
        <button type="button" class="btn btn-primary" ng-click="addEvent()">Add Event</button>
        <div class="btn-toolbar float-right">
            <div class="btn-group">
                <button class="btn btn-secondary" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
                <button class="btn btn-secondary" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
                <button class="btn btn-secondary" ng-click="changeView('month', 'myCalendar1')">Month</button>
            </div>
        </div>
        <div class="divider"></div>
        <div ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>

        <div class="callout callout-info" ng-show="alertMessage != undefined && alertMessage != ''">
            <span>{{alertMessage}}</span>
        </div>
    </section>

</section>