<section class="container-fluid no-breadcrumbs with-maxwidth chapter page-tasks">
    <div class="row">
        <div class="col-lg-12">
            <section class="task-container" data-ng-controller="TaskCtrl">

                <form data-ng-submit="add()" class="add-task">
                    <div class="input-group">
                        <input type="text"
                               placeholder="What needs to be done?"
                               class="form-control"
                               data-ng-model="newTask"
                               autofocus>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-secondary submit-button" data-ng-click="add()">
                                <span class="material-icons">add</span>
                            </button>
                        </span>
                    </div>

                </form>

                <section>
                    <ul class="filters list-inline nav">
                        <li class="list-inline-item" data-ng-class="{active: statusFilter == ''}">
                            <a href="" 
                               data-toggle="tab"
                               data-ng-click="filter('all')"
                               >All</a>
                        </li>
                        <li class="list-inline-item" data-ng-class="{active: statusFilter.completed == false }">
                            <a href=""
                               data-toggle="tab"
                               data-ng-click="filter('active')"
                               >Active</a>
                        </li>
                        <li class="list-inline-item" data-ng-class="{active: statusFilter.completed == true }">
                            <a href=""
                               data-toggle="tab"
                               data-ng-click="filter('completed')"
                               >Completed</a>
                        </li>
                    </ul>
                </section>

                <section  data-ng-cloak>
                    <ul class="task-list list-unstyled">
                        <li data-ng-repeat="task in tasks | filter:statusFilter track by $index" 
                            data-ng-class="{completed: task.completed, editing: task == editedTask}">
                            <span class="view">
                                <input type="checkbox"
                                       class="toggle-task"
                                       data-ng-model="task.completed"
                                       data-ng-change="completed(task)">
                                <label data-ng-dblclick="edit(task)">{{task.title}}</label>
                                <span class="material-icons icon-edit"
                                      data-ng-click="edit(task)">create</span>
                                <span class="material-icons icon-remove"
                                      data-ng-click="remove(task, $index)"
                                      >clear</span>
                            </span>
                            <form data-ng-submit="doneEditing(task, $index)">
                                <input type="text"
                                       class="edit form-control"
                                       data-ng-trim="false"
                                       data-ng-model="task.title"
                                       data-ng-blur="doneEditing(task, $index)"
                                       data-task-focus="task == editedTask">
                            </form>
                        </li>
                    </ul>
                </section>

                <footer class="task-footer">
                    <ul class="clearfix">
                        <li class="first-item">
                            <input type="checkbox"
                                   id="toggle-all"
                                   data-ng-model="allChecked"
                                   data-ng-change="markAll(allChecked)">
                            <label for="toggle-all">Mark all as done</label>
                        </li>
                        <li class="text-center">
                            <span>
                                <strong>{{remainingCount}}</strong>
                                <span class="text-muted"
                                      data-ng-pluralize count="remainingCount"
                                      when="{one: 'item left', other: 'items left'}"></span>
                            </span>                            
                        </li>
                        <li class="text-right">
                            <span class="clear-completed"
                                  data-ng-click="clearCompleted()"
                                  data-ng-show="remainingCount < tasks.length">Clear completed ({{tasks.length - remainingCount}})</span>                            
                        </li>
                    </ul>
                </footer>
                
            </section>
        </div>
    </div>

    <script type="text/ng-template" id="toast-danger.html">
        <md-toast class="md-toast-danger">
            <span>Task removed!</span>
        </md-toast>
    </script>

    <div class="callout callout-info">
        <p>Tips:</p>
        <p> - Double click the task (or click the edit icon on the right of the task) to edit, then click anywhere else done editing.</p>
        <p> - Type a something needs to done, then press "return" key (or the plus icon on the left) to add a new task</p>
        <p> - Click the remove icon on the right of the task to remove</p>
    </div>
</section>