<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AppCtrl">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>Stow Admin Console</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">

        <!-- google fonts -->
        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Roboto:100,300,400,400italic,500,700:latin' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = 'bower_components/webfontloader/webfontloader.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })(); 
        </script>

        <link rel="stylesheet" href="styles/loader.css" rel="stylesheet" >
        <link rel="stylesheet" href="vendors/material-design-icons/iconfont/material-icons.css" rel="stylesheet" >

        <!-- build:css({.tmp,client}) styles/main.css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="styles/bootstrap.css" rel="stylesheet" >
        <link href="styles/layout.css" type="text/css" rel="stylesheet" >
        <link href="styles/theme.css" type="text/css" rel="stylesheet" >
        <link href="styles/ui.css" type="text/css" rel="stylesheet" >
        <link href="styles/app.css" type="text/css" rel="stylesheet" >
        <!-- endbuild -->
    </head>

    <body id="body"
          ng-class="{
            'fixed-header'  : app.fixedHeader,
            'nav-collapsed' : app.navCollapsed,
            'nav-behind'    : app.navBehind,
            'layout-boxed'  : app.layoutBoxed,
            'theme-gray'    : app.theme == 'gray',
            'theme-dark'    : app.theme == 'dark',
            'sidebar-sm'    : app.sidebarWidth == 'small',
            'sidebar-lg'    : app.sidebarWidth == 'large'
    }">

        <div id="loader-container">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
               <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>

        <div ui-preloader></div>
        <div class="full-height {{app.pageTransition.class}}" ui-view></div>



        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js" type="text/javascript"></script>
        <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/ui.js -->
        <script src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

        <script src="bower_components/angular-material/angular-material.min.js"></script>

        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>

        <script src="bower_components/echarts/dist/echarts.min.js"></script>   
        <script src="bower_components/echarts/theme/macarons.js"></script>
        <script src="bower_components/ngECharts/dist/ngecharts.js"></script>

        <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

        <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
        <!-- endbuild -->


        <!-- build:js scripts/app.js -->
        <!-- inject:js -->
        <script src="app/app.module.js"></script>
        <script src="app/chart/chart.module.js"></script>
        <script src="app/form/form.module.js"></script>
        <script src="app/form/formValidation.module.js"></script>
        <script src="app/layout/layout.module.js"></script>
        <script src="app/page/page.module.js"></script>
        <script src="app/table/table.module.js"></script>
        <script src="app/ui/ui.module.js"></script>
        <script src="app/users/user.module.js"></script>
        <script src="app/app/calendar/calendar.module.js"></script>
        <script src="app/app/task/task.module.js"></script>
        <script src="app/chart/echarts.controller.js"></script>
        <script src="app/core/app.config.js"></script>
        <script src="app/core/app.controller.js"></script>
        <script src="app/core/config.lazyload.js"></script>
        <script src="app/core/config.route.js"></script>
        <script src="app/core/i18n.js"></script>
        <script src="app/dashboard/dashboard.controller.js"></script>
        <script src="app/form/form.controller.js"></script>
        <script src="app/form/formValidation.controller.js"></script>
        <script src="app/form/wizard.controller.js"></script>
        <script src="app/layout/customizer.controller.js"></script>
        <script src="app/layout/layout.directive.js"></script>
        <script src="app/layout/loader.js"></script>
        <script src="app/layout/sidenav.controller.js"></script>
        <script src="app/page/page.controller.js"></script>
        <script src="app/page/page.directive.js"></script>
        <script src="app/table/table.controller.js"></script>
        <script src="app/ui/material.controller.js"></script>
        <script src="app/ui/ui.controller.js"></script>
        <script src="app/ui/ui.directive.js"></script>
        <script src="app/users/user.controller.js"></script>
        <script src="app/app/calendar/calendar.controller.js"></script>
        <script src="app/app/task/task.controller.js"></script>
        <script src="app/app/task/task.directive.js"></script>
        <script src="app/app/task/task.service.js"></script>
        <!-- endinject -->
        <!-- endbuild -->
    </body>

</html>