<section class="container-fluid with-maxwidth chapter">

    <article class="article" ng-controller="CheckboxCtrl">
        <h2 class="article-title">Material Checkbox</h2>
        <div class="box box-default">
            <div class="box-header">Basic Usage</div>
            <div class="box-body">

                <p>
                    <strong style="display: inline-block; width: 100px;">Checkbox</strong>
                    <md-checkbox ng-model="checkbox.cb1" aria-label="Checkbox 1"> {{ checkbox.cb1 }} </md-checkbox>
                    <md-checkbox ng-model="checkbox.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">{{ checkbox.cb2 }} </md-checkbox>
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="checkbox.cb5" class="md-primary">No Ink</md-checkbox>
                    <md-checkbox md-indeterminate aria-label="Checkbox Indeterminate" class="md-primary">Checkbox: Indeterminate</md-checkbox>
                </p>
                <p>
                    <strong style="display: inline-block; width: 100px;">Disabled</strong>
                    <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="checkbox.cb3"> Checkbox: Disabled </md-checkbox>
                    <md-checkbox ng-disabled="true" aria-label="Disabled checked checkbox" ng-model="checkbox.cb4" ng-init="checkbox.cb4=true"> Checkbox: Disabled, Checked </md-checkbox>
                    <md-checkbox md-indeterminate aria-label="Checkbox Disabled Indeterminate"ng-disabled="true" class="md-primary">Checkbox: Disabled, Indeterminate</md-checkbox>
                </p>
                <p>
                    <strong style="display: inline-block; width: 100px;">Colors</strong>
                    <md-checkbox ng-model="checkbox.cb6" aria-label="Default"> Default </md-checkbox>
                    <md-checkbox ng-model="checkbox.cb7" class="md-primary" aria-label="Pimary"> Pimary </md-checkbox>
                    <md-checkbox ng-model="checkbox.cb8" class="md-warn" aria-label="Warn"> Warn </md-checkbox>
                </p>  
            </div> 
        </div> 

        <div class="box box-default" ng-controller="CheckboxCtrl2">
            <div class="box-header">Select All</div>
            <div class="box-body">

                <p>
                    <md-checkbox aria-label="Select All"
                                 ng-checked="isChecked()"
                                 md-indeterminate="isIndeterminate()"
                                 ng-click="toggleAll()">
                                 <span ng-if="isChecked()">Un-</span>Select All
                    </md-checkbox>
                </p>

                <p>
                    <span ng-repeat="item in items">
                        <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        {{ item }}
                        </md-checkbox>
                        <span class="space space-md"></span>
                    </span>
                </p>

            </div>
        </div>

        <div class="box box-default">
            <div class="box-header">Syncing</div>
            <div class="box-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div layout="row" layout-wrap flex>
                            <div flex="50" ng-repeat="item in items">
                                <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                    {{ item }} <span ng-if="exists(item, selected)">selected</span>
                                </md-checkbox>
                            </div>
                        </div>                                    
                    </div>
                    <div class="col-lg-6">
                        <div layout="row" layout-wrap flex>
                            <div ng-repeat="item in items" class="standard" flex="50">
                                <label>
                                    <input type="checkbox" ng-checked="exists(item, selected)"
                                                 ng-click="toggle(item, selected)"/>
                                    {{ item }}
                                </label>
                            </div>
                        </div>                                    
                    </div>
                </div>
                <div class="callout callout-info">
                    <span>Selected Items: {{selected | json}}</span>
                </div>

            </div>
        </div>
    </article>

</section>