<section class="container-fluid with-maxwidth chapter">

    <article class="article" ng-controller="SliderCtrl">
        <h2 class="article-title">Material Slider</h2>
        <div class="row">
            <div class="col-xl-6">
                <section class="box box-default">
                    <div class="box-header">RGB <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                    <div class="box-body">

                        <md-slider-container>
                            <span>R</span>
                            <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class="md-warn">
                            </md-slider>
                            <md-input-container>
                                <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
                            </md-input-container>
                        </md-slider-container>
                        <md-slider-container>
                            <span>G</span>
                            <md-slider flex ng-model="color.green" min="0" max="255" aria-label="green" id="green-slider" class="md-accent">
                            </md-slider>
                            <md-input-container>
                                <input flex type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider">
                            </md-input-container>
                        </md-slider-container>
                        <md-slider-container>
                            <span class="md-body-1">B</span>
                            <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary">
                            </md-slider>
                            <md-input-container>
                                <input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
                            </md-input-container>
                        </md-slider-container>

                    </div>
                </section>                    
            </div>
            <div class="col-xl-6">
                <section class="box box-default">
                    <div class="box-header">Rating: {{rating}}/5 - demo of theming classes</div>
                    <div class="box-body">
                        <div layout>
                            <div flex="15" layout layout-align="center center">
                                <span>default</span>
                            </div>
                            <md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating"></md-slider>
                        </div>
                        <div layout>
                            <div flex="15" layout layout-align="center center">
                                <span>md-warn</span>
                            </div>
                            <md-slider flex class="md-warn" md-discrete ng-model="rating2" step="1" min="1" max="5" aria-label="rating"></md-slider>
                        </div>
                        <div layout>
                            <div flex="15" layout layout-align="center center">
                                <span>md-primary</span>
                            </div>
                            <md-slider flex class="md-primary" md-discrete ng-model="rating3" step="1" min="1" max="5" aria-label="rating"></md-slider>
                        </div>                        
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <section class="box box-default">
                    <div class="box-header">Disabled</div>
                    <div class="box-body">
                        <md-slider ng-model="disabled1" ng-disabled="true" aria-label="Disabled 1"></md-slider>
                        <md-slider ng-model="disabled2" ng-disabled="true" aria-label="Disabled 2"></md-slider>
                    </div>
                </section>                     
            </div>
            <div class="col-xl-6">
                <section class="box box-default">
                    <div class="box-header">Disabled, Discrete</div>
                    <div class="box-body">
                        <md-slider ng-model="disabled1" ng-disabled="true" step="3" md-discrete min="0" max="10" aria-label="Disabled discrete 1"></md-slider>
                        <md-slider ng-model="disabled2" ng-disabled="true" step="10" md-discrete aria-label="Disabled discrete 2"></md-slider>
                    </div>
                </section>                     
            </div>
        </div>
    </article>

</section>