<section ng-include=" 'app/layout/md-sidebar-right.html'"></section>

<aside ng-include src=" 'app/layout/sidebar.html' "></aside>

<section id="page-container" class="app-page-container" ng-class="{'scroll-disabled': isOpenRight()}">
    <div ng-include=" 'app/layout/header.html' "></div>

    <div class="app-content-wrapper">
        <div class="app-content">
            <div class="full-height {{app.pageTransition.class}}" ui-view></div>
        </div>

        <section ng-include=" 'app/layout/footer.html'"></section>
    </div>

</section>

<!-- <aside ng-include src=" 'app/layout/quickview.html' "></aside> -->

<aside ng-include=" 'app/layout/customizer.html' "></aside>

<section ng-include src=" 'app/layout/overlay-search.html' "></section>